@import url('../css/main.css');

#categories-layout {
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff15;
    padding: 25px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 0 30px #dbd6d61f;
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    color: #ffffffad;
    font-weight: bold;

}

#categories-layout p {
    margin-top: 10px;
    color: #007BFF;
    font-weight: bold;
    font-size: 18px;

}

header {
    display: flex;
    flex-direction: column;
}

.question h3 {
    height: 40px;
}

#category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-btn {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #ffffffcc;
    font-weight: bold;
    font-size: 17px;
}

.category-btn:hover {
    background-color: #030321d0;
    color: #ffffffad;
    font-weight: bold;

}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid;
    color: #007BFF;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.warning {
    color: red;
}

.questions-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

.questions-layout section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    min-width: 600px;
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff15;
    padding: 20px;
    z-index: 1;
    backdrop-filter: blur(10px);
    color: #ffffffad;
}


.questions-layout aside {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    gap: 10px;
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: var(--gray-color);
}

.btns {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.next-btn,
.previous-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.submit-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-weight: bold;

}

button:disabled {
    background-color: var(--secondary-color);
    color: var(--main-color);
    cursor: not-allowed;
}

#loading-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 0;
    background-color: #007BFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: width 1s linear;
    z-index: 100;
    -webkit-appearance: none;
}

#flag::after {
    content: "\f024";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    color: #007BFF;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidebar {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}

.question-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff79;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-question {
    background-color: #ffffffe0;
    color: black;

}

.flagged-question,
.flagged-and-answered-question {
    background-color: #007BFF;
    color: white;
}

.flagged-and-active-question {
    background-color: #007BFF;
    color: white;
}

.answered-question {
    background-color: #39398e;
    color: white;
}