.login-page {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 100px auto;
    gap: 10px;
    border: 1px solid;
    padding: 5px;
}

.username-input,
.password-input {
    padding: 10px;
}

.login-button {
    padding: 10px;
    cursor: pointer;
}


.errorMsg,.passError{
    color: red;
    text-align: center;
}

