@import url("main.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-size: large;

}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff15;
  padding: 20px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 30px #dbd6d61f;
  gap: 10px;
  position: absolute;
}

#login-form label,
#already-have-account,
#do-not-have-account {
  margin-bottom: 5px;
  color: #ffffffad;
  display: block;
}

#login-form input {
  width: 100%;
  padding: 10px;
  border-color: #ffffff80;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0303216b;
  color: #ffffff80;
}

input:-webkit-autofill {
  background-color: #ffffffad !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffffad inset !important;
  -webkit-text-fill-color: #000 !important;

}

#login-form input:hover::placeholder {
  color: #030321;
}

#login-form input:hover {
  background-color: #ffffffad;
  color: #030321;
}

#login-form button {
  background-color: #030321;
  color: #ffffffad;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px #000000;
  margin-top: 25px;
}

#login-form button:hover {
  background-color: #ffffffad;
  color: #030321;
}

.error {
  color: red;
  margin-top: 5px;
  display: block;
}

#confirm-password-error {
  margin-bottom: 8px;
}

#error-message {
  display: none;
  color: #f0f0f0;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
}

#success-message {
  display: none;
  color: #f0f0f0;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
}

.error-border {
  outline-color: red;
}

a {
  color: #007BFF;
}